body {
  margin: auto;
  max-width: 1280px;
  min-width: 1280px;
  background-color: rgb(42, 41, 39);
  font-family: 'Arial';
  color: rgb(248, 248, 248);
}

/* Logo - Start */

#logo {
  height: 75px;
  padding: 20px 0 0 20px;
  user-select: none;
}

.logo-text-big {
  letter-spacing: -2px;
  font-size: 48px;
}

.logo-text-small {
  color: rgb(141, 141, 140);
  font-size: 16px;
  position: relative;
  top: -2px;
  left: 5px;
}

/* Logo - End */

/* Navigator - Start */

#navigator {
  background: url('../images/main_menu_bg.gif');
  text-align: center;
}

#navigator > ul > li {
  display: inline-block;
  padding: 15px 55px;
  font-family: 'Times New Roman';
  font-size: 26px;
}

#navigator > ul > li a:link,
#navigator > ul > li a:visited {
  color: black;
  text-decoration: none;
}

#navigator > ul > li a:hover { color: rgb(159, 125, 88); }

/* Navigator - End */

/* Slider - Start */

#slider-content-wrapper {
  height: 380px;
  position: relative;
}

#slider-image {
  background: url('../images/banner_01.jpg');
  background-size: 100% 100%;
  height: 380px;
  z-index: -1;
}

#slider-image-browser {
  position: absolute;
  right: 450px;
  top: 320px;
  user-select: none;
  z-index: 0;
}

#slider-image-browser div {
  display: inline-block;
  height: 20px;
  overflow: hidden;
  position: relative;
  cursor: pointer;
}

#slider-image-ctrl-left { width: 10px; }

#slider-image-ctrl-left img { margin-left: -10px; }

#slider-image-ctrl-right { width: 10px; }

.slider-image-active,
.slider-image-inactive { width: 20px; }

.slider-image-active { top: -2px; }

.slider-image-inactive { top: -4px; }

.slider-image-active img { margin-top: -18px; }

.slider-image-inactive img { margin-top: 2px; }

/* Services List Dialog */

#slider-content {
  width: 360px;
  height: 340px;
  background-color: #646462;
  border: 3px solid white;
  position: absolute;
  overflow: hidden;
  right: 20px;
  top: 20px;
  text-align: justify;
}

#slider-content-text-wrapper {
  height: 240px;
  overflow: hidden;
  padding: 0 20px;
  position: relative;
  top: -5px;
}

#slider-content-button {
  background: url('../images/btn_orange.gif');
  width: 90px;
  height: 27px;
  position: relative;
  left: 25px;
  top: 15px;
  border: 0;
  color: black;
  cursor: pointer;
  font-weight: bolder;
  overflow: hidden;
  white-space: nowrap;
}

#slider-content-button:hover { color: rgb(159, 125, 88); }

/* Slider - End */

/* Main Content - Start */

#content {
  background-color: white;
  height: 800px;
}

/* Main Content - End */

/* Footer - Start */

#footer {
  background-color: #c3c3c3;
  height: 70px;
  position: relative;
}

#footer a:link,
#footer a:visited {
  text-decoration: none;
  color: rgb(248, 248, 248);
}

#footer a:hover { color: rgb(159, 125, 88); }

#footer-copyright {
  position: absolute;
  padding: 25px 100px;
}

#footer-contact {
  position: absolute;
  right: 0px;
  padding: 18px 100px;
}

/* Footer - End */
