#content { color: #818181; }

.content h1 { color: #111; }

.content-wrapper {
  display: inline-block;
  height: 750px;
  overflow: hidden;
  padding: 0 50px;
  vertical-align: top;
}

#services-list {
  width: 450px;
  float: left;
}

#services-list ul {
  list-style: none outside;
  padding: 0 0;
}

#services-list ul > li {
  overflow: hidden;
  padding: 10px 0;
  white-space: nowrap;
}
#services-list ul > li > a:link,
#services-list ul > li > a:visited { color: #111; }
#services-list ul > li > a:hover { color: #ccc; }

.services-list-button {
  background-image: url('../images/bg_circle.gif');
  background-size: cover;
  height: 24px;
  width: 24px;
  display: inline-block;
}

.services-list-button-label {
  color: white;
  font-size: 10px;
  position: relative;
  left: 7px;
  top: 6px;
}

.services-list-button-text {
  position: relative;
  top: 8px;
}

#about {
  width: 600px;
  float: right;
}

.about-list {
  width: 235px;
  display: inline-block;
  color: rgb(223, 167, 42);
  font-size: 14px;
  padding-left: 20px;
  padding-top: 10px;
}

.about-list li {
  padding: 3px 0;
  white-space: nowrap;
}

.about-dialog {
  height: 150px;
  padding: 20px 0;
}

.about-dialog p {
  float: right;
  width: 500px;
  margin: 0;
}

.dialog-title-big { font-size: 32px; }

.dialog-title-small { font-size: 26px; }

.about-dialog-button {
  background: url('../images/btn_brown.gif');
  width: 90px;
  height: 26px;
  float: right;;
  position: relative;
  top: 10px;
  border: 0;
  color: white;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.about-dialog-button:hover { color: rgb(233, 208, 181); }
