/* Per Content Specifics - Start */

#content { color: #818181; }

.sub-content-wrapper {
  width: 300px;
  display: inline-block;
  overflow: hidden;
  padding: 20px 35px;
  position: relative;
  vertical-align: top;
}

.sub-content-space { width: 0px; }

/* Per Content Specifics - End */

/* Upper Content - Start */

#upper-content-wrapper {
  background-color: #fbf8ef;
  height: 300px;
  width: 1240px;
  margin: 0 auto;
  position: relative;
  top: 20px;
}

.sub-upper-content-wrapper { height: 250px; }

#sub-upper-content-wrapper-center {
  border-left: 1px solid #dedede;
  border-right: 1px solid #dedede;
}

.title-wrapper {
  position: absolute;
  left: 100px;
  top: 25px;
}

.title-big {
  font-size: 28px;
  line-height: 90%;
}

.title-small { font-size: 18px; }

.subtitle-text-wrapper {
  height: 140px;
  overflow: hidden;
}

.subtitle-button {
  background: url('../images/btn_brown.gif');
  width: 90px;
  height: 26px;
  position: relative;
  top: 20px;
  border: 0;
  color: white;
  cursor: pointer;
  overflow: hidden;
  white-space: nowrap;
}

.subtitle-button:hover { color: rgb(233, 208, 181); }

/* Upper Content - End */

/* Lower Content - Start */

#lower-content-wrapper {
  height: 440px;
  width: 1240px;
  margin: 20px auto;
}

#lower-content-wrapper h2 {
  color: black;
  font-size: 23px;
  font-weight: lighter;
}

.sub-lower-content-wrapper { height: 400px; }

/* News & Events Container - Start */

.news-wrapper {
  width: 300px;
  height: 100px;
  padding: 5px 0;
  position: relative;
}

.news-permalink {
  position: absolute;
  top: 0px;
  color: rgb(223, 152, 9);
  font-weight: bolder;
}

.news-wrapper a:hover { color: #111; }

.news-sub-wrapper {
  height: 67px;
  overflow: hidden;
  position: relative;
  top: 25px;
}

.news-sub-wrapper img {
  float: left;
  border: 1px #ddd solid;
  padding: 1px 1px;
}

.news-sub-wrapper p {
  margin: 0;
  height: 67px;
  left: 10px;
  position: relative;
  font-size: 14px;
}

/* News & Events Container - End */

/* Special Service Container - Start */

#special-service-list {
  height: 224px;
  list-style-image: url('../images/bu_arrow.gif');
  list-style-position: inside;
  line-height: 180%;
  overflow: hidden;
  padding: 5px;
  position: relative;
  top: -15px;
}

#special-service-list li {
  width: 280px;
  overflow: hidden;
  text-overflow: ellipsis;
  white-space: nowrap;
}

#special-service-list li a { color: #818181; }

#special-service-list li a:hover { color: #111; }

#newsletter-wrapper {
  position: relative;
  top: -20px;
}

#newsletter-content-wrapper {
  position: relative;
  top: -10px;
}

#subscribe-button {
  background-color: #111;
  border: 0;
  color: white;
  cursor: pointer;
  float: right;
  padding: 5px 20px;
  position: relative;
  top: 10px;
}

/* Special Service Container - End */

/* Lower Content - End */
