body {
  min-width: 1131px; /* rofl just realised this is the solution; js solution was inefficient */
  color: rgb(43, 71, 83);
  font-family: 'Candara';
  margin: 0 auto;
  text-align: center;
}

/* navigator */

#menu {
  border-bottom: 1px solid #222222;
  height: 100px;
}

#menu > ul {
  background-color: rgb(238, 238, 238);
  height: 100px;
  overflow: hidden;
  padding: 0;
  z-index: 1;
}

#list-menu li {
  display: inline-block;
  padding: 10px;
}

#list-menu li a,
#list-menu li a:link,
#list-menu li a:visited {
  color: #000;
  text-decoration: none;
}

#list-menu li a:hover {
  color: #c9af1e;
}

#logo-menu {
  position: relative;
  top: 20px;
}

/* content */

.title {
  font-size: 16px;
}

.subtitle {
  font-size: 15px;
}

.sub-container-wrapper {
  padding: 25px;
  overflow: hidden;
  position: relative;
}

.sub-container {
  height: 300px;
  width: 200px;
  display: inline-block;
  padding: 15px;
  position: relative;
  overflow: hidden;
}

#feat {
  background-color: rgb(50, 70, 81);
  color: #fff;
}

#feat > .sub-container {
  width: 500px;
  height: 450px;
  top: 15px;
  text-align: left;
}

#list-feat {
  line-height: 200%;
  list-style-type: circle;
}
